body
{
    font-family: 'Lato', sans-serif;
    background-color: white;
    margin: 0px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

header 
{
    background-color: #ff0000;
    width: 100%;
    height: 65px;
}

#logo
{
    color: white;
    font-size: 1.5em;
    text-decoration: none;
    font-weight: bold;
}

nav
{
    height: 100%;
    display: flex;

}

nav > a
{
    text-decoration: none;
    font-size: 1.1em;
    color: white;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px 10px;
    font-weight: bold;
}

.active
{
    font-weight: bold;
    color: white;
    border-bottom: 5px solid white;
    box-sizing: border-box;
    border-top: 5px solid transparent; 
}

/* Gör så navigeringslänkar blir svarta när 
   man har musen över dem (ej för den aktiva sidan)  */
nav > a:hover:not(.active) 
{
    color: #710000;
}

main
{
    flex: 1;
}

.landing
{
    height: 350px;
    flex-direction: column;  
    align-items: center; 
    justify-content: center;
}

#landing-title
{
    font-size: 50px;
    margin: 0px;
}

#landing-description
{
    font-size: 30px;
}

.content-area
{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

.container
{
    max-width: 1300px;
    width: 100%;
    padding: 10px 25px;
    display: flex;
    flex-direction: column;
    margin: 0px 25px;
}

.header-container
{
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    padding: 0px;
}

.top-area
{
    background-color: #2a2e42;
    color: white;
    display: flex;
    padding: 7px 0px;
    align-items: center;
}

.top-area-title
{
    margin: 0px;
    font-size: 1.4rem;
    font-weight: normal;
    align-self: center;
}

.row
{
    flex-direction: row;
    position: relative;
}

.space-between
{
    justify-content: space-between;
}

#content-sidebar
{
    position: sticky;
    width: 300px;   
    height: 300px;
    background-color: rgba(0, 0, 0, 0.03);
    padding: 15px;
    top: 25px;
    margin-top: 25px; 
    border: 1px solid #d2d2d2;
    border-radius: 5px;
    border-left: 4px solid red;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

#content-sidebar > h3
{
    margin: 0px;
}

#content-sidebar-list
{
    padding: 0px;
}

/* Större mellanrum mellan sakerna i innehållsförteckningen */
#content-sidebar-list > li li
{
    margin: 13px 0;
}

/* Påverkar alla a-taggar i li (även för underrubriker som ligger i ännu en lista) */
#content-sidebar-list > li a 
{
    text-decoration: none;
    color: black;
}

li
{
    list-style: none;
}


/* Ändra markers för list items */
li > a::before
{
    content: '';
    width: 7px;
    height: 7px;
    background-color: #2a2e42;
    display: inline-block;
    margin-right: 10px;
    border-radius: 50%;
}

#design-text
{
    flex: 1;
    margin-right: 50px; 
}

.btn
{
    display: flex;
    flex-direction: row;
    width: auto;
    height: 35px;
    background-color: #666d8c;
    border-radius: 5px;
    align-items: center;
    padding: 0px 15px;
    text-decoration: none;
    color: white;
    font-weight: bold; 
}

figure
{
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    counter-increment: figures; /* Räkna figurnumrering från 1, se nedan */
    margin-top: 35px;
}

figcaption
{
    margin-top: 15px;
    margin-bottom: 15px;
    font-style: italic;
}

/* Lägg till figurnumrering automatiskt framför varje figcaption */
figure figcaption:before 
{
	content: 'Figure ' counter(figures) '. ';
}

footer
{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ececec; 
    padding: 10px 0px;
    color: #808080;
}

/* TODO 
styla lista (med komponenter?) F2
figurer?
grid?
footer borde fixas
mer effektiv CSS? få in det som står i matrisen, F4
F5 7:30???
F6  slutet, borde ha nåt liknande
kolla så all html är som den ska
*/

